<input [value]="dataFromHoursAgo" (input)="dataFromHoursAgo = $event.target.value">
<input [value]="dataToHoursAgo" (input)="dataToHoursAgo = $event.target.value">
<button (click)="getTemp()">Submit</button>
<button (click)="reverseData()">
  <a *ngIf="reversed">Show Old to New</a>
  <a *ngIf="!reversed">Show New to Old</a>
</button>
<button (click)="exportCsv()">Export current table as CSV</button>
<p> Showing Temperatures in the timespan from {{dataFromHoursAgo}} hours ago to {{dataToHoursAgo}} hours ago </p>
<div *ngIf="this.dataExists; else noData">
  <div *ngFor="let data of tempJSON">
    <p [style.background-color]="data.temp < 20 ? 'red' : (data.temp > 70 ? 'green' : 'white')">
      {{data.time | date:'dd.MM. HH:mm'}}: {{data.temp | replace: '.': ','}}C°
    </p>
  </div>
</div>
<ng-template #noData>
  <div>
    There is no data for the given timespan
  </div>
</ng-template>

